<div class="row">
  <div class="col-md-4">Ημερομηνία έκδοσης</div>
  <div class="col-md-4">
    <span class="input-group">
      <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dateOfIssue" is-open="dateOfIssueOpened" min-date="'2012-01-01'" max-date="'2015-06-22'" date-disabled="disableWeekends(date, mode)" ng-required="true" show-button-bar="false" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openDateOfIssue($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </span>
  </div>
</div> 

<div class="row rowTopBuffer20">
  <div class="col-md-4">Ημερομηνία εξαργύρωσης</div>
  <div class="col-md-4">
    <span class="input-group">
      <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dateOfPay" is-open="dateOfPayOpened" min-date="'2012-01-01'" max-date="'2015-06-22'" date-disabled="disableWeekends(date, mode)" ng-required="true" show-button-bar="false" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openDateOfPay($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </span>
  </div>
</div>  

<div class="row rowTopBuffer20">
  <div class="col-md-4">Ασφαλιστικές εισφορές</div>
  <div class="col-md-4">
    <input type="number" ng-model="amount" >
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-default btn-lg" ng-click="addErgosimo()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>  
  </div>
  
</div>

<div class="row rowTopBuffer20">
  <table class="table-bordered rowTopBuffer20 col-md-12">
    <tr>
      <th class="text-center">Μήνας</th>
      <th class="text-center">Ασφαλιστικές εισφορές</th>
      <th class="text-center">Τριμήνου</th>
      <th class="text-center">Μέρες Τριμήνου</th>
      <th class="text-center">Μέρες Ασφάλισης</th>
    </tr>

    <tr ng-repeat="ergosimo in ergosima | orderBy:'dateOfPay'" class="text-right">
      <td>{{ergosimo.dateOfPay | date:'MMM yyyy'}}</td>
      <td>{{ergosimo.amount}}</td>
      <td ng-if="isFirstOfTrimester(ergosimo)" rowspan="monthsOfTrimester(ergosimo)">{{trimesterAmount(ergosimo)}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>